In [3]:
import pyspark 
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[2]') \
    .appName('test') \
    .getOrCreate()

RuntimeError: Java gateway process exited before sending its port number

In [2]:
!tree

Folder PATH listing
Volume serial number is FCDB-F4E8
D:.
+---.ipynb_checkpoints
+---data
¦   +---green
¦   +---yellow
+---fhvhv
¦   +---2021
¦       +---01
+---spark-warehouse

In [3]:
df_green = spark.read.parquet('data/green/*.parquet')
df_yellow = spark.read.parquet('data/yellow/*.parquet')

In [4]:
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [5]:
df_yellow.printSchema()

root
 |-- VendorID: double (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
print(f'Number of columns: \nYellow_tripdata: {len(df_yellow.columns)}\nGreen_tripdata: {len(df_green.columns)}')

Number of columns:
Yellow_tripdata: 18
Green_tripdata: 20

In [7]:
print(f'Number of rows: \nYellow_tripdata: {df_yellow.count()}\nGreen_tripdata: {df_green.count()}')

Number of rows:
Yellow_tripdata: 4666625
Green_tripdata: 224917

In [8]:
len(set(df_yellow.columns) & set(df_green.columns))

16

In [9]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [10]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [11]:
sorted(set(df_yellow.columns) & set(df_green.columns), key=df_yellow.columns.index)

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [12]:
len(set(df_yellow.columns) & set(df_green.columns))

18

In [13]:
set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [14]:
common_columns  = list(sorted(set(df_yellow.columns) & set(df_green.columns), key=df_yellow.columns.index))

In [15]:
from pyspark.sql import functions as F

In [16]:
df_green_req = df_green.select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [17]:
df_green_req.show(1)

+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|service_type|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+------------+
|       2|2021-03-01 01:05:42|2021-03-01 01:14:03|            1.0|         1.56|       1.0|                 N|          83|         129|         1.0|        7.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|                 0.0|       green|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+------------+
only showing top 1 row

In [18]:
df_yellow_req = df_yellow.select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [19]:
df_trip_data = df_green_req.unionAll(df_yellow_req)

In [20]:
df_trip_data.tail(1)

[Row(VendorID=None, pickup_datetime=datetime.datetime(2021, 1, 25, 9, 38), dropoff_datetime=datetime.datetime(2021, 1, 25, 9, 50), passenger_count=None, trip_distance=4.93, RatecodeID=None, store_and_fwd_flag=None, PULocationID=248, DOLocationID=168, payment_type=None, fare_amount=20.76, extra=2.75, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=24.31, congestion_surcharge=0.0, service_type='yellow')]

In [21]:
df_trip_data.groupby('service_type').count().show()

+------------+-------+
|service_type|  count|
+------------+-------+
|       green| 224917|
|      yellow|4666625|
+------------+-------+

## Spark SQL

In [22]:
df_trip_data.createOrReplaceTempView ('trip_data')

In [23]:
spark.sql('select * from trip_data limit 10').show()

+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+------------+
|VendorID|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|service_type|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+------------+
|     2.0|2021-03-01 01:05:42|2021-03-01 01:14:03|            1.0|         1.56|       1.0|                 N|          83|         129|         1.0|        7.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|                 0.0|       green|
|     2.0|2021-03-01 01:21:03|2021-03-01 01:26:17|            1.0|         0.96|       1.0|                 N|         243|         235|         2.0|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|                 0.0|       green|
|     2.0|2021-03-01 01:02:06|2021-03-01 01:22:26|            1.0|         9.93|       1.0|                 N|          75|         242|         1.0|       28.0|  0.5|    0.5|       2.0|         0.0|                  0.3|        31.3|                 0.0|       green|
|     2.0|2021-03-01 01:24:03|2021-03-01 01:31:43|            1.0|         2.57|       1.0|                 N|         242|         208|         2.0|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|                 0.0|       green|
|     1.0|2021-03-01 01:11:10|2021-03-01 01:14:46|            1.0|          0.8|       1.0|                 N|          41|         151|         1.0|        5.0|  0.5|    0.5|      1.85|         0.0|                  0.3|        8.15|                 0.0|       green|
|     2.0|2021-03-01 01:56:32|2021-03-01 02:03:48|            1.0|         1.12|       1.0|                 N|         173|          56|         2.0|        7.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 0.0|       green|
|     2.0|2021-03-01 01:11:06|2021-03-01 01:13:25|            1.0|         0.38|       1.0|                 N|          75|          75|         3.0|       -3.5| -0.5|   -0.5|       0.0|         0.0|                 -0.3|        -4.8|                 0.0|       green|
|     2.0|2021-03-01 01:11:06|2021-03-01 01:13:25|            1.0|         0.38|       1.0|                 N|          75|          75|         2.0|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|                 0.0|       green|
|     2.0|2021-03-01 01:16:16|2021-03-01 01:28:22|            1.0|         1.73|       1.0|                 N|          43|          24|         1.0|        9.5|  0.5|    0.5|       3.0|         0.0|                  0.3|        13.8|                 0.0|       green|
|     2.0|2021-03-01 02:12:01|2021-03-01 02:16:04|            1.0|          0.0|       1.0|                 N|         107|         170|         2.0|       11.0|  0.5|    0.5|       0.0|         0.0|                  0.3|       15.05|                2.75|       green|
+--------+-------------------+-------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+------------+

In [24]:
spark.sql("""
SELECT 
    service_type,
    COUNT(1)

FROM 
    trip_data

Group by
    service_type

""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green|  224917|
|      yellow| 4666625|
+------------+--------+

In [25]:
spark.sql("""

SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trip_data
GROUP BY
    1, 2, 3



""").show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         126|2021-03-01 00:00:00|       green|   4114.800000000001|                299.1|                   26.5|                     58.82|                       79.56|                    54.59999999999984|           4641.629999999995|                                8.25|                     1.375|      4.7962841530054625|
|         259|2021-01-01 00:00:00|       green|  4699.5099999999975|               207.85|                    3.5|                     216.0|          280.47000000000014|                   46.499999999999915|           5453.830000000001|                                 0.0|                       1.0|        8.06683870967742|
|           4|2021-03-01 00:00:00|       green|              663.77|                57.75|                    0.5|                       0.0|                       12.24|                    6.299999999999998|           740.5600000000002|                                 0.0|                       1.0|       7.920476190476189|
|         159|2021-02-01 00:00:00|       green|   8235.910000000014|               609.24|                   76.5|         334.3599999999999|           293.7600000000001|                   119.39999999999922|            9796.42000000002|                                55.0|        1.2117647058823529|       154.0145792079207|
|         201|2021-01-01 00:00:00|       green|  2323.2100000000005|                58.35|                    2.0|                     92.95|          177.23999999999998|                   15.900000000000016|          2669.6499999999987|                                 0.0|                       1.0|      14.093018867924528|
|         222|2021-03-01 00:00:00|       green|   6735.190000000005|               611.45|                    5.0|                      11.6|          238.68000000000012|                     69.5999999999997|           7671.519999999992|                                 0.0|                       1.0|       7.821077586206898|
|          75|2021-04-01 00:00:00|       green|               108.5|                 7.25|                    4.5|        11.959999999999999|                         0.0|                   2.6999999999999997|                      143.16|                                11.0|                       1.0|      3.3244444444444445|
|         232|2021-01-01 00:00:00|       green|             1378.33|                 60.5|                    0.0|                      71.5|                       35.18|                   13.800000000000011|          1559.3100000000002|                                null|                      null|       37.67347826086956|
|         169|2021-03-01 00:00:00|       green|   11397.26000000004|    835.2800000000001|                   58.5|        102.06999999999998|           477.3600000000003|                   131.09999999999926|          13004.319999999978|                                 0.0|         1.126984126984127|        172.729084668192|
|          47|2021-01-01 00:00:00|       green|    8554.06000000001|               337.19|                   23.0|                    570.16|          379.44000000000017|                   105.29999999999936|          10042.400000000014|                                 5.5|          1.11864406779661|       5.839145299145296|
|         155|2021-01-01 00:00:00|       green|   6618.399999999996|                281.5|                    4.5|                     413.5|          187.77000000000007|                    77.09999999999962|           7582.769999999999|                                 0.0|        1.0909090909090908|        592.215875486381|
|          67|2021-01-01 00:00:00|       green|  2127.7400000000007|                110.0|                    4.5|        141.67000000000002|                        30.6|                   28.800000000000047|           2443.310000000001|                                 0.0|                       1.0|      4.0600000000000005|
|          74|2021-02-01 00:00:00|       green|    69859.3299999998|   3153.9399999999996|                 2754.0|        7923.5200000000095|          1158.1699999999987|                   1819.7999999998158|            89973.7600000047|                              3979.0|        1.1432133950837193|      14.267237252008522|
|          41|2021-02-01 00:00:00|       green|  38442.249999999956|   1860.6399999999992|                 1583.5|         3792.690000000001|          326.64000000000016|                   1061.0999999999306|           48944.42000000009|                             2092.75|        1.1313572542901715|      10.652777464788727|
|          45|2021-01-01 00:00:00|       green|   759.3599999999999|                 27.5|                    0.0|                     35.75|                       18.36|                    6.899999999999998|           847.8700000000001|                                null|                      null|       8.127826086956523|
|         106|2021-01-01 00:00:00|       green|             3838.63|                210.7|                    8.0|                    255.73|                       24.48|                    53.39999999999985|           4396.439999999996|                                 0.0|        1.2941176470588236|       4.355337078651685|
|          96|2021-01-01 00:00:00|       green|              273.07|                  7.5|                    1.5|                     13.75|                       12.24|                   2.9999999999999996|                      311.06|                                 0.0|        1.3333333333333333|       6.860000000000001|
|         189|2021-03-01 00:00:00|       green|  3603.6100000000006|               361.89|                   15.0|         85.16000000000001|                       16.82|                   50.699999999999875|           4141.430000000003|                                 5.5|                    1.0625|      3.7485207100591724|
|         168|2021-01-01 00:00:00|       green|   9407.679999999997|   360.70000000000005|                   49.0|                     499.0|           403.1100000000002|                   116.69999999999925|          10849.940000000017|                                8.25|         1.168141592920354|       5.281323155216285|
|          58|2021-01-01 00:00:00|       green|  223.74999999999997|                  0.0|                    1.0|                     13.75|                       15.04|                                  2.1|          255.64000000000001|                                 0.0|                       2.0|      11.228571428571428|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [26]:
df_result = spark.sql("""

SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trip_data
GROUP BY
    1, 2, 3



""")

In [27]:
df_result.write.parquet('data/monthly_revenue')

In [ ]:
# To write the result to one partition
df_result.coalesce(1).write.parquet('data/monthly_revenue', mode='overwrite')

In [28]:
!tree

Folder PATH listing
Volume serial number is FCDB-F4E8
D:.
+---.ipynb_checkpoints
+---data
¦   +---green
¦   +---monthly_revenue
¦   +---yellow
+---fhvhv
¦   +---2021
¦       +---01
+---spark-warehouse

In [29]:
import pandas as pd

In [30]:
df_out = pd.read_parquet('data/monthly_revenue/part-00000-2a76ea9f-afc4-468e-aba6-e143ec2f8ac9-c000.snappy.parquet')

In [31]:
df_out.head()

,revenue_zone,revenue_month,service_type,revenue_monthly_fare,revenue_monthly_extra,revenue_monthly_mta_tax,revenue_monthly_tip_amount,revenue_monthly_tolls_amount,revenue_monthly_improvement_surcharge,revenue_monthly_total_amount,revenue_monthly_congestion_surcharge,avg_montly_passenger_count,avg_montly_trip_distance
0,126,2021-02-28 23:00:00,green,4114.80,299.10,26.5,58.82,79.56,54.6,4641.63,8.25,1.375000,4.796284
1,259,2020-12-31 23:00:00,green,4699.51,207.85,3.5,216.00,280.47,46.5,5453.83,0.00,1.000000,8.066839
2,4,2021-02-28 23:00:00,green,663.77,57.75,0.5,0.00,12.24,6.3,740.56,0.00,1.000000,7.920476
3,159,2021-01-31 23:00:00,green,8235.91,609.24,76.5,334.36,293.76,119.4,9796.42,55.00,1.211765,154.014579
4,201,2020-12-31 23:00:00,green,2323.21,58.35,2.0,92.95,177.24,15.9,2669.65,0.00,1.000000,14.093019