In [1]:
import pyspark 
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://localhost:7077") \
    .appName('test') \
    .getOrCreate()

In [3]:
df_green = spark.read.parquet('data/green/*.parquet')
df_yellow = spark.read.parquet('data/yellow/*.parquet')

In [6]:
print(f'Number of columns: \nYellow_tripdata: {len(df_yellow.columns)}\nGreen_tripdata: {len(df_green.columns)}')

Number of columns:
Yellow_tripdata: 18
Green_tripdata: 20

In [7]:
print(f'Number of rows: \nYellow_tripdata: {df_yellow.count()}\nGreen_tripdata: {df_green.count()}')

Number of rows:
Yellow_tripdata: 4666625
Green_tripdata: 224917

In [35]:
print(f'Pre Transform: The common columns is {len(set(df_yellow.columns) & set(df_green.columns))}')

Pre Transform: Common columns 18

In [9]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [10]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [36]:
print(f'Post Transform: The common columns is {len(set(df_yellow.columns) & set(df_green.columns))}')

Post Transform: Common columns 18

In [14]:
common_columns  = list(sorted(set(df_yellow.columns) & set(df_green.columns), key=df_yellow.columns.index))

In [15]:
from pyspark.sql import functions as F

In [16]:
df_green_req = df_green.select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [18]:
df_yellow_req = df_yellow.select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [19]:
df_trip_data = df_green_req.unionAll(df_yellow_req)

In [37]:
print(df_trip_data.groupby('service_type').count().show())

+------------+-------+
|service_type|  count|
+------------+-------+
|       green| 224917|
|      yellow|4666625|
+------------+-------+

None

## Spark SQL

In [22]:
df_trip_data.createOrReplaceTempView ('trip_data')

In [26]:
df_result = spark.sql("""

SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trip_data
GROUP BY
    1, 2, 3



""")

In [28]:
# To write the result to one partition
df_result.coalesce(1).write.parquet('data/monthly_revenue', mode='overwrite')